<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <!--double curly braces {{ variable-name }} is the placeholder that Angular uses for performing variable interpolation-->
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="'/users'" class="btn btn-info">List Users</a>
                </li>
            <li class="list-inline-item">
              <!--routerLink will dispatch a request to the /users path to a specific component and a request to /adduser to another component-->
              <a routerLink="'/adduser'" class="btn btn-info">Add User</a>
                </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>